/**{
	padding: 0px;
	border: 0px;
	margin: 0px;
}
*/
fieldset {
	border: 1px solid #CCC;
/*	margin: 10px;*/
	width: 400px;
}
legend {
	font-weight: bold;
	font-size: 1.1em;

}
li {
	display: inline-block;
	line-height: 20px;
	width: 375px;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
}
input {
	display: inline-block;
	line-height: 20px;
	width: 200px;
	float: right;
	margin: auto;
}
label {
	padding-right: 20px;
}

#outputs {
	width: 700px;
}